* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    box-sizing: border-box;
}

/* Variaveis para o postblogHTML */
:root {
    --container-color: #1a1e21;
    --second-color: #fd8f44;
    --text-color: #172317;
    --bg-color: #fff;
}

::selection {
    color: var(--bg-color);
    background: var(--second-color);
}


a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

section {
    padding: 3rem 0 2rem;
}

.container {
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

/* Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 200;
}

header.shadow {
    background: var(--bg-color);
    transition: 0.5s;
}

header.shadow .logo {
    color: var(--text-color);
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 0;
    box-shadow: 0 1px 4px hsl(0, 4%, 14% / 10%);
}

.logo {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color);
}

.logo span {
    color: var(--second-color);
}

.login {
    padding: 8px 14px;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 5px;
    background: var(--second-color);
    color: var(--bg-color);
}

.login:hover {
    background: hsl(24, 98%, 58%);
    transition: 0.5 s;
}

/* Home */

.home {
    width: 100%;
    min-height: 440px;
    background: var(--container-color);
    display: grid;
    justify-content: center;
    align-items: center;
}

.home-text {
    color: var(--bg-color);
    text-align: center;
}

.home-title {
    font-size: 3.5rem;
}

.home-subtitle {
    font-size: 1rem;
    font-weight: 400;
}

/* PublicacaoFiltro */

.post-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1.5rem;
    margin-top: 2rem !important;
    background: #1a1e21;
    border-radius: 5x;
    border-top: 10px solid var(--second-color);
}

.filter-item {
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    color: #fff;
}

.filter-item:hover {
    color: var(--second-color);
    box-shadow: 0 10px var(--second-color);
}

.active-filter {
    background: var(--second-color);
    color: #fff;
    padding: 4px 10px;
    border-radius: 1px;
}

.active-filter:hover {
    color: #172317;
    padding: 4px 10px;
}

/* Publicacao */

.post {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, auto));
    justify-content: center;
    gap: 1rem;
}

.post-box {
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15x / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.post-img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}

.categoria {
    font-size: 0.9rem;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--second-color);
}

.post-title {
    font-size: 1rem;
    font-weight: 550;
    color: var(--text-color);
    /* titulo em quatro linhas */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.post-date {
    display: flex;
    font-size: 0.785rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 4px;
}

.post-descricao {
    font-size: 0.9rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    /* titulo em quatro linhas */
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    border: 2px solid var(--second-color);
}

.profile-name {
    font-size: 0.82rem;
    font-weight: 500;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.footer p {
    font-size: 0.938rem;
}

#social {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

#social .bx {
    font-size: 1.4rem;
    color: var(--text-color);
}

#social .bx:hover {
    color: var(--second-color);
    transition: 0.3s all linear;
}

/*Post Blogo segundo html */
.post-header {
    width: 100%;
    height: 440px;
    background: var(--container-color);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5)
}

.post-container {
    max-width: 800px;
    margin: auto;
    width: 100%;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem !important;
}

.back-home {
    color: var(--second-color);
    font-size: 0.9rem;
}

.header-title {
    width: 90%;
    font-size: 1.1rem;
    color: var(--bg-color);
    text-align: center;
    margin-bottom: 1rem;
}

.header-img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.post-content {
    margin-top: 6rem !important;
    background: var(--bg-color);
    box-shadow: 0 4px 14px hsl(355deg 25% 15x / 10%);
    padding: 15px;
    border-radius: 0.5rem;
}

.sub-heading {
    font-size: 1.2rem;
}

.post-text {
    font-size: 1rem;
    line-height: 1.7rem;
    margin: 1rem 0;
    text-align: justify;
}

/*Compartihar*/
.share {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.share-title {
    font-size: 1.1rem;
}

.trico {
    border-radius: 10px;
}