a {
  color: #fefefe;
  text-decoration: none;
  margin-left: 1rem;
}

.logoFetechLoja {
  margin-inline: -2rem;
}

.logoFetech {
  width: 12rem;
}

.container-fluid {
  width: auto;
  padding-right: var(--bs-gutter-x, -0.25rem);
  padding-left: var(--bs-gutter-x, -0.25rem);
  margin-right: auto;
  margin-left: auto;
}

a:hover {
  color: #888;
  cursor: pointer;
}

.headerTopDireita {
  background: black;
  padding-left: 25rem !important;
}

.topoIcon {
  color: lightblue;
  padding: 1px;
  margin: 2px;
}

.topoObjeto {
  top: 1rem;
}

.topo {
  float: right;
  text-decoration: none;
  font-size: 0.79rem;
  margin-left: 1rem;
  margin-top: 5px;
  margin-inline: 15rem;
  color: #fefefe;
}

.topo:hover {
  color: #888;
  cursor: pointer;
}

.papelParede {
  background-color: var(--medium)
}

.navbar {
  position: relative;
  margin-bottom: 7rem;
  display: flex;
  margin-top: -0.6rem;
}

.barraDeNavegacao {
  flex-direction: row;
  margin-bottom: -12px;
  margin-inline: 12rem;
}

.sliderPrincipal {
  padding: 0rem 0 2rem;
}

#header {
  width: 100%;
  height: 5rem;
  border-bottom: 4px solid #fd8f44;
}

#header .dropdown-menu {
  position: absolute;
  margin: -1px 12.3rem 0px;
  border-radius: 6px;
  vertical-align: initial;

}

#header .comprePorDepartamento {
  font-size: 0.8rem;
  margin-right: 515px;
  text-align: initial;
  margin-top: 9px;
  margin-bottom: 13px;
}

#header .comprePorDepartamento:hover {
  color: var(--light);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-size: 0.88rem;
  color: #212529;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  color: #1e2125;
  background-color: #e9ecef;
  margin-inline: 0px;
}

.dropDireita {
  text-decoration: none;
  font-size: 0.8rem !important;
  width: 126px;
  color: #212529;
  background: none;
  border: none;
}

.btn-group:hover {
  color: var(--light);
}

#header .form-control {
  margin-left: -31rem;
  display: fixed;
  width: 480px;
  height: 52px;
  border-bottom: 5px solid #fd8f44;
}

#container .imagemPapel {
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.botaoNav {
  background-color: var(--primary);
  color: white;
  padding: 0px 3px;
  margin: 19px 0px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  width: 100%;
}

.loginTamanhoFonte {
  font-size: 0.88rem;
}

.inputTamanho {
  font-size: 0.98rem;
  content: '';
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: rgba(0, 0, 0, 0.05);
}


/* Add a hover effect for buttons */
.botaoNav:hover {
  opacity: 0.8;
}

button {
  background-color: var(--primary);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 4px;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 6px 5px;
  background-color: #f44336;
  border-radius: 2px;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 50%;
  border-radius: 6%;
}

/* The "Forgot password" text */
.psw {
  float: right;
  padding-top: 16px;
  font-size: 0.9rem;
  color: #212529;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  .psw {
    display: block;
    float: none;
  }

  .cancelbtn {
    width: 100%;
  }
}

/* The Modal (background) */

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: rgb(254, 254, 254);
  margin: 215px auto;
  border: 2px solid rgb(136, 136, 136);
  width: 25%;
}

/* Botao para fechar */
.close {
  position: absolute;
  left: 73rem;
  bottom: 58rem;
  top: 20;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* Post Loja */

body {
  margin: 0;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: .8125rem;
  font-weight: 400;
  line-height: 1.5385;
  color: #333;
  text-align: left;
  background-color: var(--light)
}

.mt-50 {
  margin-top: 50px
}

.mb-50 {
  margin-bottom: 50px
}

.mb-0 {
  color: green;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, .125);
  border-radius: .1875rem
}

.card-img-actions {
  position: relative
}

.card-body {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.35rem;
  text-align: center
}

.card-img {
  width: 350px
}

.star {
  color: red
}

.ratingEstrela {
  float: right;
  margin-top: -3.3rem;
}

.maisVendido {
  float: right;
  color: gray;
  margin-top: -3rem;
}

.bg-cart {
  background-color: orange;
  color: #fff
}

.bg-cart:hover {
  color: #fff
}

.bg-buy {
  background-color: green;
  color: #fff;
  padding-right: 29px
}

.bg-buy:hover {
  color: #fff
}

a {
  text-decoration: none !important
}

.text-default {
  color: black;
  font-size: 1rem !important;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.oferta {
  width: 2rem;
  border-bottom: 2px solid red;
}

.contadorPromo {
  width: auto;
}

/*/.footer-Loja {
  background-color: #1e2125;
}*/