@media (max-width:381px){
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.4rem;
        height: 1.5em;
    }
}

@media (max-width:373px){
    .navbar-toggler-icon {
    display: inline-block;
    width: 1.4rem;
    height: 1.5em;
    margin: -8px;
    margin-bottom: -3px;
    }
}

@media (max-width:358px){
    .navbar-toggler-icon {
    display: inline-block;
    width: 1.4rem;
    height: 1.5em;
    margin: -12px;
    margin-bottom: -5px;
    }
}

@media(min-width :992px) {
    #header .nav-link {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
    #header .navbar-collapse {
        width: 100%;
    }

    #contato .mensagem img {
        width: 70px;
        top: -27px;
        right: 0.5rem !important;
    }

    #contato .button2 {
        max-width: 100px;
        font-size: 14px;
        padding: 1px;
        position: absolute;
        margin: 0px 4px 0px;
        margin-top: 36px;
        align-items: center;
    }
}

@media(max-width: 767px) {
    #sobre .img-container {
        display: block;
    }
}

@media(max-width: 767.98px) {
    #servicos a.destaque .img-container {
        height: 120px;
    }

    #servicos a.destaque .img-container img {
        max-height: 120px;
    }

    #clientes .cliente-texto .imagem {
        padding: 10px 0 30px 0;
    }

    #clientes .cliente-texto .imagem img {
        max-width: 150px;
    }

    #contato .mensagem {
        padding: 60px 30px 50px 30px;
    }

    #contato .mensagem form {
        width: 100%;
        flex-direction: column;
    }

    #contato .button2 {
        max-width: 100px;
        font-size: 14px;
        padding: 1px;
        position: absolute;
        margin: 0px 10px 0px;
        margin-top: 0px;
        align-items: center;
    }

    #depoimentos .depoimento {
        border-radius: 5px;
        display: flex;
        padding: 10px;
        max-height: 251px;
        font-size: 10px;
    }
}

@media (max-width:355px) {
    #contato .mensagem img {
        width: 58px;
        top: -9px;
        left: 8px;
    }
}


/*Responsividade*/
@media (max-width:1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .home-text {
        width: 100%;
    }
}

@media (max-width:800px) {
    .nav {
        padding: 14px 0;
    }

    .post-container {
        margin: 0 auto;
        width: 95%;
    }
}

@media (max-width:768px) {
    .nav {
        padding: 10px 0;
    }

    section {
        padding: 2rem 0;
    }

    .header-content {
        margin-top: 3rem !important;
    }

    .home {
        min-height: 380px;
    }

    .home-title {
        font-size: 3rem;
    }

    .header-title {

        font-size: 2rem;
    }

    .header-img {
        height: 370px;
    }

    .post-header {
        height: 540px;
    }
}

@media (max-width:578px) {
    .post-header {
        height: 455px;
    }

    .header-title {
        width: 100%;
    }

    .header-img {
        height: 250px;
    }
}

/* Blog */

@media (max-width:326px) {
    .post-filter.container{
        column-gap: 0.2rem !important;
    }
}

@media (max-width:340px) {
    .post-filter.container{
        column-gap: 0.2rem !important;
    }
}

@media (max-width:375px) {
    .post-filter{
        column-gap: 0.5rem !important;
    }
}

@media (max-width:384px) {
    .post-filter{
        column-gap: 0.5rem !important;
    }
}

@media (max-width:400px) {
    .post-filter{
        column-gap: 0.5rem !important;
    }
}

@media (max-width:450px) {
    .post-filter{
        column-gap: 0.5rem !important;
    }
}

/* Blog */

/* Blog Post Prologo GenDesign */

@media (max-width:410px){
    .post-header .header-img{
        width: 95%;
        height: 250px;
        background-size: cover;
    }
}

@media (max-width:328px){
    .post-header .header-img{
        width: 95%;
        height: 238px;
        background-size: cover;
    }
}


@media (max-width:810px){
    section.post-content{
        margin-top: 6rem !important;
        width: 98%;
    }
    img.header-img{
        width: 98%;
        height: 355px;
    }
}

@media (max-width:786px){
    section.post-content{
        margin-top: 7.2rem !important;
        width: 98%;
    }
}



@media (max-width:510px){
    section.post-content{
        margin-top: 1rem !important;
        width: 95%;
        
    }
    img.header-img{
        width: 95%;
        height: 258px;
    }
}

@media (max-width:410px){
    section.post-content{
        margin-top: 1rem !important;
        width: 95%;
        
    }
    img.header-img{
        width: 95%;
        height: 220px;
    }
}

@media (max-width:1300px) {
    img.imagemMeio {
        width: 70%;
        height: auto;
        align-self: center;
    }
}

@media (max-width:1100px) {
    img.imagemMeio {
        width: 50%;
        height: auto;
        align-self: center;
    }
}

@media (max-width:767px) {
    img.imagemMeio {
        width: 100%;
        height: auto;
        align-self: center;
    }
}


@media (max-width:630px) {
    .setaCima {
        margin-bottom: 75px;
    }
}


@media (max-width:630px) {
    .whatsapp-link {
        margin-bottom: 75px;
    }
}

@media (max-width:365px) {
    .setaCima {
        margin-bottom: 90px;
    }
}

@media (max-width:365px) {
    .whatsapp-link {
        margin-bottom: 90px;
    }
}

/* Slider papel de parede Fetech */

@media (max-width:1160px) {
    #slider {
        background: url(/Assets/fetechSlide.png) no-repeat;
        background-size: cover;
    }
}

@media (max-width:990px) {
    #slider {
        background: url(/Assets/fetechSliider.png) no-repeat;
        background-size: cover;
    }
}

@media (max-width:620px) {
    #slider {
        background: url(/Assets/fetech8.jpg) no-repeat;
        background-size: cover;

    }
}

@media (max-width:1399px) {
    .logoHeadMeio {
        height: 10%;
        width: 5%;
        z-index: 1000;
        align-self: end;
    }
}

@media (max-width:1193px) {
    .logoHeadMeio {
        margin-top: -9%;
        align-items: end;
        height: 8%;
        width: 10%;
    }
}

@media (max-width:1095px) {
    .descricaoNot {
        padding: 6px;
    }
}

@media (max-width:793px) {
    .descricaoNot {
        width: 100%;
        height: 45%;
    }

    .logoHeadMeio {
        margin-top: -7%;
        align-items: end;
        height: 10%;
        width: 10%;
        float: left;
    }
}

@media (max-width:767px) {
    .descricaoNot {
        width: 100%;
        height: 45%;
    }

    .logoHeadMeio {
        margin-top: -1%;
        align-items: end;
        height: 7%;
        width: 10%;
        float: left;
    }
}

@media (max-width:477px) {
    .logoHeadMeio {
        margin-top: -5%;
        align-items: end;
        height: 11%;
        width: 23%;
        float: left;
    }
}

@media (max-width:439px) {
    .logoHeadMeio {
        margin-top: -5%;
        align-items: end;
        height: 11%;
        width: 23%;
        float: left;
    }
}

@media (max-width:351px) {
    .navbar-light .navbar-brand {
        color: rgba(0,0,0,.9);
        width: 80%;
    }
}

/* Post Blog PostHarware1 */

@media (max-width:1920px){
    .post-hardware1 .header-img2 {
        background: url(/Assets/lisasu2.png) no-repeat;
        object-fit: contain;
        width: 233%;
    }
}

@media (max-width:1863px){
    .post-hardware1 .header-img2 {
        width: 227%;
    }
}

@media (max-width:1817px){
    .post-hardware1 .header-img2 {
        width: 210%;
        background-size: cover;
    }
}

@media (max-width:1680px) {
    .post-hardware1 .header-img2 {
        width: 195%;
        background-size: cover;
    }
}

@media (max-width:1560px){
    .post-hardware1 .header-img2 {
        width: 180%
    }
}

@media (max-width:1440px){
    .post-hardware1 .header-img2{
        width: 163%;
    }
}

@media (max-width:1304px) {
    .post-hardware1 .header-img2 {
        width: 157%;
        background-size: contain;
        border-bottom: none;
    }
}

@media (max-width:1280px){
    .post-hardware1 .header-img2 {
    background: url(/Assets/lisasu3.png) no-repeat;
    width: 100%;
    height: 350px;
    background-size: contain;
    object-fit:cover;
    object-position: center;
    border-radius: 10px;
    }
}

@media (max-width:767px){
    .post-hardware1 .header-img2{
        width: 98%;
        height: 375px;
        background-size: cover;
    }
}

@media (max-width:510px ) {
    .post-hardware1 .header-img2{
        width: 96%;
        height: 292px;
        background-size: cover;
    }
}


@media (max-width: 427px){
    .post-hardware1 .header-img2 {
    width: 95%;
    background-size: cover;
    height: 292px;
    }
}


@media (max-width:422px){
    .post-hardware1 .header-img2 {
    width: 95%;
    background-size: cover;
    height: 270px
    }
}

@media (max-width:355px){
    .post-hardware1 .header-img2 {
    width: 95%;
    background-size: cover;
    height: 272px
    }
    section.post-content{
    margin-top: 2.5rem !important;
    width: 96%;
    }
}

@media (max-width:422px){
    .post-hardware1 .header-img2 {
    width: 95%;
    background-size: cover;
    height: 258px
    }
}

/* Blog post2 */

@media (max-width:510px){
    img.header-img {
    width: 95%;
    height: 270px;
    background-size: cover;
    }
    section.post-content {
        margin-top: 2rem !important;
        width: 95%;
    }
}

@media (max-width:328px){
    img.header-img {
        width: 95%;
        height: 235px;
        background-size: cover;
        }
        section.post-content {
            margin-top: 1rem !important;
            width: 95%;
        }
    }
    