@media (max-width:381px){
    .navbar-toggler-icon {
        display: inline-block;
        width: 1.4rem;
        height: 1.5em;
    }
}

@media (max-width:373px){
    .navbar-toggler-icon {
    display: inline-block;
    width: 1.4rem;
    height: 1.5em;
    margin: -8px;
    margin-bottom: -3px;
    }
}

@media (max-width:358px){
    .navbar-toggler-icon {
    display: inline-block;
    width: 1.4rem;
    height: 1.5em;
    margin: -12px;
    margin-bottom: -5px;
    }
}

@media(min-width :992px) {
    #header .nav-link {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
    #header .navbar-collapse {
        width: 100%;
    }

    #contato .mensagem img {
        width: 70px;
        top: -27px;
        right: 0.5rem !important;
    }

    #contato .button2 {
        max-width: 100px;
        font-size: 14px;
        padding: 1px;
        position: absolute;
        margin: 0px 4px 0px;
        margin-top: 36px;
        align-items: center;
    }
}

@media(max-width: 767px) {
    #sobre .img-container {
        display: block;
    }
}

@media(max-width: 767.98px) {
    #servicos a.destaque .img-container {
        height: 120px;
    }

    #servicos a.destaque .img-container img {
        max-height: 120px;
    }

    #clientes .cliente-texto .imagem {
        padding: 10px 0 30px 0;
    }

    #clientes .cliente-texto .imagem img {
        max-width: 150px;
    }

    #contato .mensagem {
        padding: 60px 30px 50px 30px;
    }

    #contato .mensagem form {
        width: 100%;
        flex-direction: column;
    }

    #contato .button2 {
        max-width: 100px;
        font-size: 14px;
        padding: 1px;
        position: absolute;
        margin: 0px 10px 0px;
        margin-top: 0px;
        align-items: center;
    }

    #depoimentos .depoimento {
        border-radius: 5px;
        display: flex;
        padding: 10px;
        max-height: 251px;
        font-size: 10px;
    }
}

@media (max-width:355px) {
    #contato .mensagem img {
        width: 58px;
        top: -9px;
        left: 8px;
    }
}


/*Responsividade*/
@media (max-width:1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .home-text {
        width: 100%;
    }
}

@media (max-width:800px) {
    .nav {
        padding: 14px 0;
    }

    .post-container {
        margin: 0 auto;
        width: 95%;
    }
}

@media (max-width:768px) {
    .nav {
        padding: 10px 0;
    }

    section {
        padding: 2rem 0;
    }

    .header-content {
        margin-top: 3rem !important;
    }

    .home {
        min-height: 380px;
    }

    .home-title {
        font-size: 3rem;
    }

    .header-title {

        font-size: 2rem;
    }

    .header-img {
        height: 370px;
    }

    .post-header {
        height: 540px;
    }
}

@media (max-width:578px) {
    .post-header {
        height: 455px;
    }

    .header-title {
        width: 100%;
    }

    .header-img {
        height: 250px;
    }
}

/* Blog */
@media (max-width:375px) {
    .post-filter {
        column-gap: 0.5rem !important;
    }
}

@media (max-width:384px) {
    .post-filter {
        column-gap: 0.5rem !important;
    }
}

@media (max-width:400px) {
    .post-filter {
        column-gap: 0.5rem !important;
    }
}

@media (max-width:450px) {
    .post-filter {
        column-gap: 0.5rem !important;
    }
}

/* Blog */

/* Blog Post 2 */

@media (max-width:375px) {
    .post-content {
        margin-top: 0.5rem !important;
    }
}

@media (max-width:1300px) {
    img.imagemMeio {
        width: 70%;
        height: auto;
        align-self: center;
    }
}

@media (max-width:1100px) {
    img.imagemMeio {
        width: 50%;
        height: auto;
        align-self: center;
    }
}

@media (max-width:767px) {
    img.imagemMeio {
        width: 100%;
        height: auto;
        align-self: center;
    }
}


@media (max-width:630px) {
    .setaCima {
        margin-bottom: 75px;
    }
}


@media (max-width:630px) {
    .whatsapp-link {
        margin-bottom: 75px;
    }
}

@media (max-width:365px) {
    .setaCima {
        margin-bottom: 90px;
    }
}

@media (max-width:365px) {
    .whatsapp-link {
        margin-bottom: 90px;
    }
}

/* Slider papel de parede Fetech */

@media (max-width:1160px) {
    #slider {
        background: url(/Assets/fetechSlide.png) no-repeat;
        background-size: cover;
    }
}

@media (max-width:990px) {
    #slider {
        background: url(/Assets/fetechSliider.png) no-repeat;
        background-size: cover;
    }
}

@media (max-width:620px) {
    #slider {
        background: url(/Assets/fetech8.jpg) no-repeat;
        background-size: cover;

    }
}

@media (max-width:1399px) {
    .logoHeadMeio {
        height: 10%;
        width: 5%;
        z-index: 1000;
        align-self: end;
    }
}

@media (max-width:1193px) {
    .logoHeadMeio {
        margin-top: -9%;
        align-items: end;
        height: 8%;
        width: 10%;
    }
}

@media (max-width:1095px) {
    .descricaoNot {
        padding: 6px;
    }
}

@media (max-width:793px) {
    .descricaoNot {
        width: 100%;
        height: 45%;
    }

    .logoHeadMeio {
        margin-top: -7%;
        align-items: end;
        height: 10%;
        width: 10%;
        float: left;
    }
}

@media (max-width:767px) {
    .descricaoNot {
        width: 100%;
        height: 45%;
    }

    .logoHeadMeio {
        margin-top: -1%;
        align-items: end;
        height: 7%;
        width: 10%;
        float: left;
    }
}

@media (max-width:477px) {
    .logoHeadMeio {
        margin-top: -5%;
        align-items: end;
        height: 11%;
        width: 23%;
        float: left;
    }
}

@media (max-width:439px) {
    .logoHeadMeio {
        margin-top: -5%;
        align-items: end;
        height: 11%;
        width: 23%;
        float: left;
    }
}

@media (max-width:351px) {
    .navbar-light .navbar-brand {
        color: rgba(0,0,0,.9);
        width: 80%;
    }
}