@media(min-width :992px) {
    #header .nav-link {
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media (max-width: 992px) {
    #header .navbar-collapse {
        width: 100%;
    }

    #contato .mensagem img {
        width: 70px;
        top: -27px;
    }
    #contato .button2 {
        max-width: 100px;
        font-size: 14px;
        padding: 1px;
        position: absolute;
        margin: 0px 4px 0px;
        margin-top: 36px;
        align-items: center;
    }
}

@media(max-width: 767.98px) {
    #servicos a.destaque .img-container {
        height: 120px;
    }

    #servicos a.destaque .img-container img {
        max-height: 120px;
    }

    #clientes .cliente-texto .imagem {
        padding: 10px 0 30px 0;
    }

    #clientes .cliente-texto .imagem img {
        max-width: 150px;
    }

    #contato .mensagem {
        padding: 60px 30px 50px 30px;
    }

    #contato .mensagem form {
        width: 100%;
        flex-direction: column;
    }
    
    #contato .button2 {
        max-width: 100px;
        font-size: 14px;
        padding: 1px;
        position: absolute;
        margin: 0px 10px 0px;
        margin-top: 0px;
        align-items: center;
    }
    #depoimentos .depoimento { 
    border-radius: 5px;
    display: flex;
    padding: 10px;
    max-height: 251px;
    font-size: 10px;
}
    }
}

/*Responsividade*/
@media (max-width:1060px) {
    .container {
        margin: 0 auto;
        width: 95%;
    }

    .home-text {
        width: 100%;
    }
}

@media (max-width:800px) {
    .nav {
        padding: 14px 0;
    }

    .post-container {
        margin: 0 auto;
        width: 95%;
    }
}

@media (max-width:768px) {
    .nav {
        padding: 10px 0;
    }

    section {
        padding: 2rem 0;
    }

    .header-content {
        margin-top: 3rem !important;
    }

    .home {
        min-height: 380px;
    }

    .home-title {
        font-size: 3rem;
    }

    .header-title {

        font-size: 2rem;
    }

    .header-img {
        height: 370px;
    }

    .post-header {
        height: 540px;
    }
}

@media (max-width:578px) {
    .post-header {
        height: 455px;
    }

    .header-title {
        width: 100%;
    }

    .header-img {
        height: 250px;
    }
}

/* Blog */
@media (max-width:375px) {
    .post-filter{
        column-gap: 0.5rem !important;
    }
}

@media (max-width:384px){
    .post-filter{
        column-gap: 0.5rem !important;
    }
}

@media (max-width:400px){
    .post-filter{
        column-gap: 0.5rem !important;
    }
}

@media (max-width:450px) {
    .post-filter{
        column-gap: 0.5rem !important;
    }
}

/* Blog */

/* Blog Post 2 */

@media (max-width:375px){
   .post-content {
        margin-top: 0.5rem !important;
    }
}

@media (max-width:1300px) {
    img.imagemMeio {
        width: 70%;
        height: auto;
        align-self: center;
    }
}

@media (max-width:1100px) {
    img.imagemMeio {
        width: 50%;
        height: auto;
        align-self: center;
    }
}

@media (max-width:375px) {
    img.imagemMeio {
        width: 50%;
        height: auto;
        align-self: center;
    }
}


@media (max-width:630px) {
    .setaCima {
        margin-bottom: 75px;
    }
}


@media (max-width:630px) {
    .whatsapp-link {
        margin-bottom: 75px;
    }
}

@media (max-width:365px) {
    .setaCima {
        margin-bottom: 90px;
    }
}

@media (max-width:365px) {
    .whatsapp-link {
        margin-bottom: 90px;
    }
}



